*{  color: aliceblue;
    
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    
}

body{
   
    /* margin: 2rem 0; */
    display: flex;
    background-color: #23252C;
    justify-content: center;
}
#root{
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";

    background-color: #1A1B21;
   margin: 2rem 0;
   justify-content: center;
   /* align-items: center; */
   width: 350px;
   border-radius: 15px 15px 15px 15px;
   
}

    
    

.firsthalf{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border-radius: 15px 15px 0 0; */
}

.avatar{
    /* justify-content: center; */
    width: 350px;
    border-radius: 15px 15px 0 0;
}
.name{
    font-family: 'Inter';
    font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 30px;

}
h3{
    margin: 0;

}
h1{
    padding: 0!important;
    margin: 0;
    margin-top: 1.33rem;
    /* font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji"; */
}
.profession{
padding: 0;
margin: 0;
margin-top: 0.5rem;
color: #F3BF99;
}
 p{
    padding: 0!important;
    margin:  0!important;
    margin-top: 0.2rem!important;
    /* font-family: 'Inter'!important;
font-style: normal!important; */
font-weight: 400!important;
font-size: 12px!important;
line-height: 150%!important;
}

.contactbuttons{
    margin-top: 15px;
    width: 270px;
    display:flex;
    justify-content: space-between;
}
.contactbuttons > button  {
    min-width: 120px;
    font-size:medium;
}
.Git{
   background-color: #5093E2!important;
 
}
.Email{
    color: #23252C;
    background-color: white!important;

}
/* FaGithub{
    font-size:medium;

} */
.abouttext{
    margin: 0;
    padding: 0;
    font-weight: 400;
font-size: 10.24px;
line-height: 150%;

}
.interest{
    padding-top: 1.33rem;
}
.textinfo{

padding: 1rem 2.5rem 2rem;

}
.footer{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: #161619;
    padding: 0 3rem;
    border-radius:0 0 15px 15px;
}
